body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#Button {
  background-color: #15b4d4 ; /* Green */
  border: 5px solid black;
  color: Solid black;
  font-family: 'Indie Flower', cursive;
  border-radius: 18px;
  padding: 0% 24px;
  position: absolute;
  top: 60%;
  left: 15%;
  text-align: center;
  pointer-events: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
}