<!-- views/edit.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Edit Post</title>
</head>

<body>
    <header>
        <h1>Edit Post</h1>
    </header>

    <main>
        <section id="edit-post">
            <form action="/edit?id=<%= p.id %>" method="post">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="<%= p.title %>" required>

                <label for="content">Content:</label>
                <textarea id="Scontent" name="content" required><%= p.content %></textarea>

                <button type="submit">Save Changes</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2022 Your Blog</p>
    </footer>
</body>

</html>
